<div class="container">

  <div class="row">
    <div class="col-md-8">

      <h3>Programme</h3>

      <h4>Thursday 20th July, 2023</h4>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>9.00</strong>
            </td>
            <td>
              <strong>Welcome</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>9.10</strong>
            </td>
            <td>
              <strong>Case introduction - Program abstraction by transformation: Abstraction of Visual Basic to UML</strong>
              <div>Kevin Lano, Shekoufeh Kolahdouz Rahimi</div>
              <a href="TTC_2023_paper_1.pdf">PDF</a>
            </td>
          </tr>
          <tr>
              <td>
                  <strong>9.25</strong>
              </td>
              <td>
                  <strong>Case introduction - Asymmetric and Directed Bidirectional Transformation for Container Orchestrations</strong>
                  <div>Antonio García-Domínguez</div>
                  <a href="TTC_2023_paper_3-v2.pdf">PDF</a>
              </td>
          </tr>

          <% data.schedule_morning.each do |slot| %>
            <%
              next unless slot.containers
              solution = data.solutions_programAbstraction[slot.containers]
            %>
            <tr>
              <td><strong><%=slot.time%></strong></td>
              <td>
                  <strong><%=solution.tool%> - <%=solution.authors%></strong><br/>
                  <em>
                    Opponents: <%=solution.opponents.map { |index| data.solutions_programAbstraction[index].authors }.join(", ")%>
                  </em><br/><br/>
                  <a href="TTC_2023_paper_<%=solution.pdf%>.pdf">PDF Description</a> |
                  <br/>
                  <% if solution.scm.empty? %>
                    <strong>No Source Code</strong>
                  <% else %>
                    <a href="<%=solution.scm%>">Source Code</a>
                  <% end %>
                  |
                  <% if solution.slides.empty? %>
                    No Slides
                  <% else %>
                    <a href="<%=solution.slides%>">Slides</a>
                  <% end %>
              </td>
            </tr>
          <% end %>

          <tr>
              <td>
                  <strong>10.30</strong>
              </td>
              <td>
                  <strong>Morning coffee</strong>
              </td>
          </tr>
          <tr>
            <td>
              <strong>11.00</strong>
            </td>
            <td>
                <strong>Case introduction - The TTC 2023 KMEHR to FHIR case</strong>
                <div>Dennis Wagelaar</div>
                <a href="TTC_2023_paper_2.pdf">PDF</a>
            </td>
          </tr>

          <tr>
              <td>
                  <strong>12.00</strong>
              </td>
              <td>
                  <strong>Deliberation - Asymmetric and Directed Bidirectional Transformation for Container Orchestrations, KMEHR to FHIR</strong>
                  <div>During this slot, case authors and organizers will deliberate on the awards for the provided solutions.</div>
              </td>
          </tr>

          <tr>
              <td>
                  <strong>12.30</strong>
              </td>
              <td>
                  <strong>Lunch</strong>
              </td>
          </tr>

          <tr>
              <td>
                  <strong>13.30</strong>
              </td>
              <td>
                  <strong>Case introduction - Incremental MTL vs. GPLs: Class into Relational Database Schema</strong>
                  <div>Sandra Greiner, Stefan Höppner, Frédéric Jouault, Théo Le Calvar and Mickael Clavreul</div>
                  <a href="TTC_2023_paper_4.pdf">PDF</a>
              </td>
          </tr>

          <tr>
              <td>
                  <strong>14.30</strong>
              </td>
              <td>
                  <strong>Deliberation - Incremental MTLs vs. GPLs</strong>
                  <div>During this slot, case authors and organizers will deliberate on the awards for the provided solutions.</div>
              </td>
          </tr>

          <tr>
              <td>
                  <strong>15.00</strong>
              </td>
              <td>
                  <strong>Afternoon coffee</strong>
              </td>
          </tr>

            <tr>
              <td>
                <strong>15.30</strong>
              </td>
              <td colspan="2">
                <strong>Final round of deliberation and award preparation</strong>
                <p>During this hour, the organizers and case authors will make the final decisions on awards and prepare the certificates.</p>
              </td>
            </tr>

            <tr>
                <td>
                    <strong>16.00</strong>
                </td>
                <td>
                    <strong>Awards</strong>
                    <p>Please come back to the room to congratulate our winners!</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>16.30</strong>
                </td>
                <td>
                    <strong>Reflection and open discussion</strong>
                    <p>What have we learned from this year's edition, and what's next?</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>17.00</strong>
                </td>
                <td>
                    <strong>Contest ends</strong>
                </td>
            </tr>

        </tbody>
        </table>
      </div>
  </div>
</div>
