<div class="container">

  <div class="row">
    <div class="col-md-8">

      <h3>Programme</h3>
      <p>As TTC is a contest and not a workshop or conference, it has a rather unusual format. The morning of the contest will be used to score the solutions to the offline cases (Model Execution, Java Refactoring and Train Benchmark). The afternoon of the contest will be used to score solutions to the live contest (a transformation problem that will be announced on Monday 20th July). The purpose of the morning and afternoon sessions is the same: to present your solution, score the solutions of others, and to determine an overall winner in each category.</p>

      <h4>Monday 20th July, Tuesday 21st July, Wednesday 22nd July, Thursday 23rd July</h4>
      <p>All day - Hackspace will be available (in Room 1.F) for you to work on your solutions to the live contest, or to talk about transformations with other contestants and TTC organisers.</p>

      <h4>Friday 24th July</h4>
      <p>The morning sessions is dedicated to the offline cases (Model Execution, Java Refactoring and Train Benchmark) and has two parallel tracks:</p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Model Execution &amp; Train Benchmarking<br/>(Room 1.B)</th>
            <th>Java Refactoring<br/>(Room 1.D)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>09.00</strong>
            </td>
            <td colspan="2">
              <strong>Welcome (Room 1.B)</strong>
              <!-- <strong><a href="/presentations/welcome.pdf">Welcome</a> (Room 1.B)</strong> -->
            </td>
          </tr>
          <tr>
            <td>
              <strong>09.15</strong>
            </td>
            <td>
              <strong>Introduction to the Model Execution Case</strong>
            </td>
            <td>
              <strong>Introduction to the Java Refactoring Case</strong>
            </td>
          </tr>

          <% data.schedule_morning.take(4).each do |slot| %>
            <%
              execution_solution = slot.execution? ? data.solutions_execution[slot.execution] : nil
              refactoring_solution = slot.refactoring? ? data.solutions_refactoring[slot.refactoring] : nil
              train_solution = slot.train? ? data.solutions_train[slot.train] : nil
            %>
            <tr>
              <td><strong><%=slot.time%></strong></td>
              <td>
                <% if execution_solution %>
                  <strong><%=execution_solution.tool%> - <%=execution_solution.authors%></strong><br/>
                  <em>
                    <%=execution_solution.opponents.map { |index| data.solutions_execution[index].authors }.join("<br/>")%>
                  </em><br/><br/>
                  <a href="/solutions/execution/TTC_2015_submission_<%=execution_solution.pdf%>.pdf">PDF Description</a> |
                  <% if execution_solution.share.empty? %>
                    <strong>No SHARE demo</strong>
                  <% else %>
                    <a href="<%=execution_solution.share%>">SHARE Demo</a>
                  <% end %>
                <% end%>
                <% if train_solution %>
                  <strong><%=train_solution.tool%> - <%=train_solution.authors%></strong><br/>
                  <em>
                    <%=train_solution.opponents.map { |index| data.solutions_train[index].authors }.join("<br/>")%>
                  </em><br/><br/>
                  <a href="/solutions/train/TTC_2015_submission_<%=train_solution.pdf%>.pdf">PDF Description</a> |
                  <% if train_solution.share.empty? %>
                    <strong>No SHARE demo</strong>
                  <% else %>
                    <a href="<%=train_solution.share%>">SHARE Demo</a>
                  <% end %>
                <% end%>
              </td>
              <td>
                <% if refactoring_solution %>
                  <strong><%=refactoring_solution.tool%> - <%=refactoring_solution.authors%></strong><br/>
                  <em>
                    <%=refactoring_solution.opponents.map { |index| data.solutions_refactoring[index].authors }.join("<br/>")%>
                  </em><br/><br/>
                  <a href="/solutions/refactoring/TTC_2015_submission_<%=refactoring_solution.pdf%>.pdf">PDF Description</a> |
                  <% if refactoring_solution.share.empty? %>
                    <strong>No SHARE demo</strong>
                  <% else %>
                    <a href="<%=refactoring_solution.share%>">SHARE Demo</a>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>

            <tr>
              <td>
                <strong>10.30</strong>
              </td>
              <td colspan="2">
                <strong>Coffee Break</strong>
              </td>
            </tr>

            <% data.schedule_morning.drop(4).each do |slot| %>
              <%
                execution_solution = slot.execution? ? data.solutions_execution[slot.execution] : nil
                refactoring_solution = slot.refactoring? ? data.solutions_refactoring[slot.refactoring] : nil
                train_solution = slot.train? ? data.solutions_train[slot.train] : nil
              %>
              <tr>
                <td><strong><%=slot.time%></strong></td>
                <td>
                  <% if slot.time == "11.00" %>
                    <strong>Introduction to the Train Benchmarking Case</strong>
                  <% end %>
                  <% if train_solution %>
                    <strong><%=train_solution.tool%> - <%=train_solution.authors%></strong><br/>
                    <em>
                      <%=train_solution.opponents.map { |index| data.solutions_train[index].authors }.join("<br/>")%>
                    </em><br/><br/>
                    <a href="/solutions/train/TTC_2015_submission_<%=train_solution.pdf%>.pdf">PDF Description</a> |
                    <% if train_solution.share.empty? %>
                      <strong>No SHARE demo</strong>
                    <% else %>
                      <a href="<%=train_solution.share%>">SHARE Demo</a>
                    <% end %>
                  <% end%>
                </td>
                <td>
                  <% if refactoring_solution %>
                    <strong><%=refactoring_solution.tool%> - <%=refactoring_solution.authors%></strong><br/>
                    <em>
                      <%=refactoring_solution.opponents.map { |index| data.solutions_refactoring[index].authors }.join("<br/>")%>
                    </em><br/><br/>
                    <a href="/solutions/refactoring/TTC_2015_submission_<%=refactoring_solution.pdf%>.pdf">PDF Description</a> |
                    <% if refactoring_solution.share.empty? %>
                      <strong>No SHARE demo</strong>
                    <% else %>
                      <a href="<%=refactoring_solution.share%>">SHARE Demo</a>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>



      <p>The afternoon session is dedicated to the live contest, and more details will be announced when the contestants are known.<p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Demo (Room Room 1.B)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>14.00</strong>
            </td>
            <td>
              <strong>Welcome</strong>
            </td>
          </tr>

          <% data.schedule_afternoon.each do |slot| %>
            <tr>
              <td><strong><%=slot.time%></strong></td>
              <td>
                <% if slot.tool? %>
                  <strong><%=slot.tool%> - <%=slot.authors%></strong><br/>
                  <a href="/solutions/live/ttc2015_submission_<%=slot.pdf%>.pdf">PDF Description</a> |
                  <% if slot.share.empty? %>
                    <strong>No SHARE demo</strong>
                  <% else %>
                    <a href="<%=slot.share%>">SHARE Demo</a>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>

            <tr>
              <td>
                <strong>17.00</strong>
              </td>
              <td>
                <strong>Awards and Wrap Up</strong>
                <!-- <strong>Awards and <a href="/presentations/wrapup.pdf">Wrap Up</a></strong> -->
              </td>
            </tr>

            <tr>
              <td>
                <strong>17.30</strong>
              </td>
              <td>
                <strong>Contest ends</strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
</div>
