<div class="container">

  <div class="row">
    <div class="col-md-8">

      <h3>Programme</h3>
      <p>As TTC is a contest and not a workshop or conference, it has a rather unusual format. The morning of the contest will be used to score the solutions to the offline case, the Class Responsiblity Assignment problem. The afternoon of the contest will be used to score solutions to the live contest (a transformation problem that will be announced on <strong>Monday 4th July</strong>). The purpose of the morning and afternoon sessions is the same: to present your solution, score the solutions of others, and to determine an overall winner in each category.</p>
      <br/>

      <h4>Monday 4th July &mdash; Thursday 7rd July</h4>
      <p>All day -  the conference venue offers plenty of public work stations that can be used as a hackspace for you to work on your solutions to the live contest, or to talk about transformations with other contestants and TTC organisers.</p>
      <br/>

      <h4>Friday 8th July</h4>
      <p>The morning session is dedicated to the <a href="solutions_cra.html">Class Responsibility Assignment problem</a>:</p>
      <p><strong>Please the following <a href="https://docs.google.com/forms/d/1KUlYMdSfSMSomFxjwOFbIlBi0CCIDAMXHMv-tbgL1MQ/viewform">google form</a> to evaluate the solutions.</strong> The scores will be used to determine the winner.</p>
      <br/>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>09.00</strong>
            </td>
            <td>
              <strong>Welcome</strong>
              <br />
              <a href="https://docs.google.com/presentation/d/1JYpyZd4AHcI49SNlL1ISZ7HB5-1I6K2yFGNt7J7On4Q">Slides</a>
            </td>
          </tr>
          <tr>
            <td>
              <strong>09.15</strong>
            </td>
            <td>
              <strong>Introduction to the Class Responsibility Assignment case study</strong>
              <br/>
              <a href="solutions/cra/TTC_2016_CRA_Case.pdf">PDF</a>

            </td>
          </tr>

          <% data.schedule_morning.take(4).each do |slot| %>
            <%
              cra_solution = data.solutions_cra[slot.cra]
            %>
            <tr>
              <td><strong><%=slot.time%></strong></td>
              <td>
                  <strong><%=cra_solution.tool%> - <%=cra_solution.authors%></strong><br/>
                  <em>
                    <%=cra_solution.opponents.map { |index| data.solutions_cra[index].authors }.join("<br/>")%>
                  </em><br/><br/>
                  <a href="solutions/cra/TTC_2016_paper_<%=cra_solution.pdf%>.pdf">PDF Description</a> |
                  <% if cra_solution.share.empty? %>
                    <strong>No SHARE demo</strong>
                  <% else %>
                    <a href="<%=cra_solution.share%>">SHARE Demo</a>
                  <% end %>
                  |
                  <% if cra_solution.scm.empty? %>
                    <strong>No Source Code</strong>
                  <% else %>
                    <a href="<%=cra_solution.scm%>">Source Code</a>
                  <% end %>
                  |
                  <% if cra_solution.slides.empty? %>
                    No Slides
                  <% else %>
                    <a href="<%=cra_solution.slides%>">Slides</a>
                  <% end %>
              </td>
            </tr>
          <% end %>

            <tr>
              <td>
                <strong>10.30</strong>
              </td>
              <td colspan="2">
                <strong>Coffee Break</strong>
              </td>
            </tr>

            <% data.schedule_morning.drop(4).each do |slot| %>
              <%
                cra_solution = data.solutions_cra[slot.cra]
              %>
              <tr>
                <td><strong><%=slot.time%></strong></td>
                <td>
                  <strong><%=cra_solution.tool%> - <%=cra_solution.authors%></strong><br/>
                  <em>
                    <%=cra_solution.opponents.map { |index| data.solutions_cra[index].authors }.join("<br/>")%>
                  </em><br/><br/>
                  <a href="solutions/cra/TTC_2016_paper_<%=cra_solution.pdf%>.pdf">PDF Description</a> |
                  <% if cra_solution.share.empty? %>
                    <strong>No SHARE demo</strong>
                  <% else %>
                    <a href="<%=cra_solution.share%>">SHARE Demo</a>
                  <% end %>
                  |
                  <% if cra_solution.scm.empty? %>
                    <strong>No Source Code</strong>
                  <% else %>
                    <a href="<%=cra_solution.scm%>">Source Code</a>
                  <% end %>
                  |
                  <% if cra_solution.slides.empty? %>
                    No Slides
                  <% else %>
                    <a href="<%=cra_solution.slides%>">Slides</a>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>



      <p>The afternoon session is for the live contest, dedicated to the <a href="https://github.com/bluezio/ttc2016-live">Dataflow-based transformations problem</a>:<p>
      <p><strong>Please the following <a href="https://docs.google.com/forms/d/1e35hEWni01CpIeZ4AhivnwR3XdpdalYxhn4q0b5gqFA/viewform">google form</a> to rank the solutions.</strong> The scores will be used to determine the winner.</p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Demo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>14.00</strong>
            </td>
            <td>
              <strong>Welcome</strong>
              <br/>
              <a href="https://docs.google.com/a/york.ac.uk/presentation/d/1hZvoOehKyNFcEtkE_19ZAznd-F7x_Uo1IQ6pSH6K-jo/edit?usp=sharing">Slides</a>
            </td>
          </tr>
          <tr>
             <td>
		<strong>14.15 - 14.30</strong>
              </td>
              <td>
		<strong>NMF - Georg Hinkel</strong>
              </td>
            </tr>
            <tr>
              <td>
		<strong>14.30 - 14.45</strong>
              </td>
              <td>
		<strong>Mofongo - Horacio Hoyos</strong>
              </td>
            </tr>
            <tr>
              <td>
		<strong>14.45 - 15.00</strong>
              </td>
              <td>
		<strong>ATL - Frédéric Jouault and Manuel Wimmer</strong>
              </td>
            </tr>
            <tr>
              <td>
		<strong>15.50 - 15.15</strong>
             </td>
             <td>
		<strong>SIGMA - Filip Krikava</strong>
             </td>
           </tr>
	         <tr>
              <td>
                <strong>15.15</strong>
              </td>
              <td>
                <strong>Break (OC preparing awards)</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>16.00</strong>
              </td>
              <td>
                <strong>Awards and Wrap Up</strong>
                <br />
                <!-- <strong>Awards and <a href="/presentations/wrapup.pdf">Wrap Up</a></strong> -->
                <a href="https://docs.google.com/presentation/d/1NDfP-fhGvmomlSK1mqzkjbdfZxfBLVox66TI7FWPYzc">Slides</a>

              </td>
            </tr>
            <tr>
              <td>
                <strong>16.30</strong>
              </td>
              <td>
                <strong>Contest ends</strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
</div>
