<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h3>Solutions to the Model Execution Case</h3>
      <% solutions = data.solutions_execution  %>

      Case resources:
      <ul>
        <li><a href="https://github.com/moliz/moliz.ttc2015/">Description and case resources</a> (Github repository)</li>
        <li><a href="https://groups.google.com/forum/#!forum/ttc2015exe">Discussion of solutions and open peer reviews</a> (Google Group)</li>
        <li><a href="http://goo.gl/forms/TuKyxCYCiI">Scoresheet for judging of solutions</a> (Google Form)</li>
      </ul>

      <p>The following <%=solutions.size%> solutions were submitted for the Model Execution case</a>.</p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Presentation<br/></th>
            <th>Tool</th>
            <th>Authors</th>
            <th>Artefacts</th>
            <th>Opponents</th>
          </tr>
          <tr>
            <td>09.15</td>
            <td><strong>Case Overview</strong></td>
            <td colspan="3">Tanja Mayerhofer and Manuel Wimmer</td>
          </tr>
        </thead>
        <tbody>
          <% solutions_with_slots = solutions.zip(solutions.each_with_index.map { |_, index| data.schedule_morning.find { |slot| slot.execution == index } }) %>
          <% solutions_with_slots.sort_by { |row| row.last.time }.each do |solution, slot| %>
            <tr>
              <td>
                <%= slot.time %>
              </td>
              <td><strong><%=solution.tool%></strong></td>
              <td><%=solution.authors%></td>
              <td>
                <a href="/solutions/execution/TTC_2015_submission_<%=solution.pdf%>.pdf">PDF Description</a> <br/>

                <% if solution.share.nil? %>
                  <strong>No SHARE demo</strong>
                <% else %>
                  <a href="<%=solution.share%>">SHARE Demo</a>
                <% end %>
              </td>
              <td>
                <%=solution.opponents.map { |index| solutions[index].authors }.join("<br/>")%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Awards</h3>
      <p>The solutions were scored at the contest, resulting in the following awards:</p>
    </div>

    <div class="col-md-3">
        <a href="images/awards/ME_1.jpg" class="thumbnail">
          <img src="images/awards/ME_1.jpg">
        </a>
        <div class="caption">
          <h6>Overall Winner: GEMOC Studio</h6>
        </div>
    </div>

    <div class="col-md-3">
        <a href="images/awards/ME_2.jpg" class="thumbnail">
          <img src="images/awards/ME_2.jpg">
        </a>
        <div class="caption">
          <h6>Best Performance: SDMLib</h6>
        </div>
    </div>

    <div class="col-md-3">
        <a href="images/awards/ME_3.jpg" class="thumbnail">
          <img src="images/awards/ME_3.jpg">
        </a>
        <div class="caption">
          <h6>Most Correct Solution: FunnyQT</h6>
        </div>
    </div>

    <div class="col-md-3">
        <a href="images/awards/ME_4.jpg" class="thumbnail">
          <img src="images/awards/ME_4.jpg">
        </a>
        <div class="caption">
          <h6>Overall Quality: RACR</h6>
        </div>
    </div>
  </div>
</div>
