<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h3>Solutions to the Containers to MiniYAML case</h3>

            Case resources:
            <ul>
                <li><a href="https://github.com/agarciadom/benchmarx/tree/main/examples/containerstominiyaml">Description and case resources</a> (GitHub repository)</li>
                <li><a href="TTC_2023_paper_3-v2.pdf">Case description</a></li>
                <li><a href="https://github.com/agarciadom/benchmarx/issues">Discussion of solutions and open peer reviews</a> (issue tracker)</li>
                <% # <li><a href="https://forms.gle/tQv6bgZiCAyzHB347">Participant registration form</a></li>
                   # <li><a href="https://forms.gle/FgAJZuWFyxbwHwHZ6">Attendee registration form</a></li>
                   # <li><a href="https://forms.gle/s146pkeJBFdGjmnw6">Audience evaluation</a> (Google Form)</li>
                   # <li><a href="http://ceur-ws.org/Vol-3089">Post-proceedings in CEUR-WS.org</a></li> %>
            </ul>

            <% solutions = data.solutions_containers %>
            <p>The following <%=solutions.size%> solutions were submitted:</p>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tool</th>
                        <th>Authors</th>
                        <th>Artefacts</th>
                        <th>Opponents</th>
                    </tr>
                </thead>
                <tbody>
                    <% solutions.each_with_index do |solution, index| %>
                        <tr>
                            <td><strong><%=solution.tool%></strong></td>
                            <td><%=solution.authors%></td>
                            <td>
                                <a href="TTC_2023_paper_<%=solution.pdf%>.pdf">PDF Description</a> <br/>
                                <% if solution.slides.empty? %>
                                    <strong>No slides</strong>
                                <% else %>
                                    <a href="<%=solution.slides%>">Slides</a>
                                <% end %>
                                <br/>
                                <% if solution.scm.empty? %>
                                    <strong>No SCM</strong>
                                <% else %>
                                    <a href="<%=solution.scm%>">SCM</a>
                                <% end %>
                            </td>
                            <td>
                                <%=solution.opponents.map { |index| solutions[index].authors }.join("<br/>")%>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

            <% if false %>
            <div class="row">
                <div class="col-md-12">
                    <h3>Awards</h3>
                    <p>The solutions were scored at the contest, resulting in the following awards:</p>

                    <ul>
                        <li><strong>Best Performance</strong>: YAMTL</li>
                        <li><strong>Best Tested</strong>: ATL</li>
                    </ul>
                </div>
            </div>
            <% end %>

        </div>
    </div>
</div>
