<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h3>Solutions to the Incremental Workflows case</h3>

            Case resources:
            <ul>
                <li><a href="https://github.com/tecan/ttc21incrementalLabWorkflows">Description and case resources</a> (GitHub repository)</li>
                <li><a href="2021_labflows.pdf">Case description</a></li>
                <li><a href="https://github.com/tecan/ttc21incrementalLabWorkflows/issues">Discussion of solutions and open peer reviews</a> (issue tracker)</li>
                <% # <li><a href="https://forms.gle/tQv6bgZiCAyzHB347">Participant registration form</a></li> %>
                <% # <li><a href="https://forms.gle/FgAJZuWFyxbwHwHZ6">Attendee registration form</a></li> %>
                <li><a href="https://forms.gle/s146pkeJBFdGjmnw6">Audience evaluation</a> (Google Form)</li>
            </ul>

            <% solutions = data.solutions_labflows %>
            <p>The following <%=solutions.size%> solutions were submitted:</p>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tool</th>
                        <th>Authors</th>
                        <th>Artefacts</th>
                        <th>Opponents</th>
                    </tr>
                </thead>
                <tbody>
                    <% solutions.each_with_index do |solution, index| %>
                        <tr>
                            <td><strong><%=solution.tool%></strong></td>
                            <td><%=solution.authors%></td>
                            <td>
                                <a href="papers/ttc21_paper_<%=solution.pdf%>.pdf">PDF Description</a> <br/>
                                <% if solution.slides.empty? %>
                                    <strong>No slides</strong>
                                <% else %>
                                    <a href="<%=solution.slides%>">Slides</a>
                                <% end %>
                                <br/>
                                <% if solution.share.empty? %>
                                    <% if solution.docker.empty? %>
                                        <strong>No SHARE or Docker demo</strong>
                                    <% else %>
                                        <a href="<%=solution.docker%>">Docker Demo</a>
                                    <% end %>
                                <% else %>
                                    <a href="<%=solution.share%>">SHARE Demo</a>
                                <% end %>
                                <br/>
                                <% if solution.scm.empty? %>
                                    <strong>No SCM</strong>
                                <% else %>
                                    <a href="<%=solution.scm%>">SCM</a>
                                <% end %>
                            </td>
                            <td>
                                <%=solution.opponents.map { |index| solutions[index].authors }.join("<br/>")%>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

            <%#
            <div class="row">
                <div class="col-md-12">
                    <h3>Awards</h3>
                    <p>The solutions were scored at the contest, resulting in the following awards:</p>

                    <ul>
                        <li><strong>Most Flexible</strong>: Fulib</li>
                        <li><strong>Best Bidirectionality</strong>: NMF</li>
                        <li><strong>Most Comprehensible</strong>: Henshin</li>
                        <li><strong>Best Performance</strong>: EMF-Syncer</li>
                        <li><strong>Audience Award</strong>: EMF-Syncer</li>
                    </ul>
                </div>
            </div>
            %>

        </div>
    </div>
</div>
