<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h3>Solutions to the Families to Persons Case</h3>
      <% solutions = data.solutions_familiesToPersons  %>

      Case resources:
      <ul>
        <li><a href="https://github.com/eMoflon/benchmarx">Description and case resources</a> (Github repository)</li>
        <li><a href="TTC_2017_paper_2.pdf">Case presentation</a></li>
        <li><a href="https://github.com/eMoflon/benchmarx/issues">Discussion of solutions and open peer reviews</a> (Github issue tracker)</li>
        <li><a href="https://goo.gl/forms/1WZUyRtnrlg8jr6E3">Open Peer Review Evaluation form</a> (Google Forms)</li>
        <li><a href="https://docs.google.com/spreadsheets/d/1w3VBZJGe9nhwcrHn_RDn5YunR9ZNicJJ0t77WwlzaPc/edit?usp=sharing">Open Peer Reviews</a> (Google Docs)</li>
        <li><a href="https://goo.gl/forms/c1ziOhu0gFOSAXwq2"> Live Evaluation form</a> (Google Forms)</li>
      </ul>

      <p>The following <%=solutions.size%> solutions were submitted:</p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <!-- <th>
                 Presentation<br/>
                 </th> -->
            <th>Tool</th>
            <th>Authors</th>
            <th>Artefacts</th>
            <th>Opponents</th>
          </tr>
        </thead>
        <tbody>
          <% solutions.each_with_index do |solution, index| %>
          <tr>
            <!-- <td>
                 </td> -->
            <td><strong><%=solution.tool%></strong></td>
            <td><%=solution.authors%></td>
            <td>
              <a href="solutions/familiesToPersons/TTC_2017_paper_<%=solution.pdf%>.pdf">PDF Description</a> <br/>
              <% if solution.slides.empty? %>
                  <strong>No slides</strong>
              <% else %>
                  <a href="<%=solution.slides%>">Slides</a>
              <% end %>
              <br/>
              <% if solution.share.empty? %>
              <strong>No SHARE demo</strong>
              <% else %>
              <a href="<%=solution.share%>">SHARE Demo</a>
              <% end %>
              <br/>
              <% if solution.scm.empty? %>
              <strong>No SCM</strong>
              <% else %>
              <a href="<%=solution.scm%>">SCM</a>
              <% end %>
            </td>
            <td>
              <%=solution.opponents.map { |index| solutions[index].authors }.join("<br/>")%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Awards</h3>
      <p>The solutions were scored at the contest, resulting in the following awards:</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="images/awards/f2p-overall.jpg" class="thumbnail">
        <img src="images/awards/f2p-overall.jpg" style="height: 217px" />
      </a>
      <div class="caption">
        <h6>Best Overall: SDMLib</h6>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="images/awards/f2p-audience-evl_strace.jpg" class="thumbnail">
        <img src="images/awards/f2p-audience-evl_strace.jpg"/>
      </a>
      <div class="caption">
        <h6>Audience Award (tie): EVL+Strace</h6>
      </div>
    </div>

    <div class="col-md-4">
      <a href="images/awards/f2p-audience-sdmlib.jpg" class="thumbnail">
        <img src="images/awards/f2p-audience-sdmlib.jpg" style="height: 217px" />
      </a>
      <div class="caption">
        <h6>Audience Award (tie): SDMLib</h6>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="images/awards/f2p-complete-evl_strace.jpg" class="thumbnail">
        <img src="images/awards/f2p-complete-evl_strace.jpg" />
      </a>
      <div class="caption">
        <h6>Most Complete (tie): EVL+Strace</h6>
      </div>
    </div>

    <div class="col-md-4">
      <a href="images/awards/f2p-complete-sdmlib.jpg" class="thumbnail">
        <img src="images/awards/f2p-complete-sdmlib.jpg" />
      </a>
      <div class="caption">
        <h6>Most Complete (tie): SDMLib</h6>
      </div>
    </div>
  </div>

</div>
