<div class="container">
  
  <div class="row">
    <div class="col-md-12">
  
      <h3>Solutions to the Movie Database Case</h3>
      <% solutions = data.solutions_movie  %>

      Case resources:
      <ul>
        <li><a href="https://github.com/ckrause/ttc2014-imdb">Description and case resources</a> (Github repository)</li>
        <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AqMVDh6v9Yx-dF90cElzcFJxX2xZNkF1YVAxOXRibVE&usp=sharing">Results from open peer reviewing of solutions</a> (Google Spreadsheet)</li>
        <li><a href="https://groups.google.com/forum/#!forum/ttc2014-imdb">Discussion of solutions and open peer reviews</a> (Google Group)</li>
        <li><a href="https://docs.google.com/forms/d/1J8ZieT0g7SFzh3TYCtsxVxVIhuABT-yK8g0ASSoXZJ4/viewform?usp=send_form">Scoresheet for judging of solutions</a> (Google Form)</li>
      </ul>

      <p>The following <%=solutions.size%> solutions were submitted for the Movie Database case.</p>
      
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Presentation<br/>
              (in PT/007)
            </th>
            <th>Tool</th>
            <th>Authors</th>
            <th>Artefacts</th>
            <th>Opponents</th>
          </tr>
        </thead>
        <tbody>
          <%
            solutions.each_with_index do |solution, index|
              slot = data.schedule_morning.find { |slot| slot.movie == index }
              solution["time"] = slot.time
              
              solution["opponents"] = [
                solutions[(index - 2) % solutions.length].authors,
                solutions[(index - 1) % solutions.length].authors
              ] 
            end
          %>

          <% solutions.sort_by { |solution| solution.time }.each do |solution| %>
            <tr>
              <td>
                <%= solution.time %>
              </td>
              <td><strong><%=solution.tool%></strong></td>
              <td><%=solution.authors%></td>
              <td>
                <a href="/solutions/movie/ttc2014_submission_<%=solution.pdf%>.pdf">PDF Description</a> <br/>
                
                <% if solution.share.empty? %>
                  <strong>No SHARE demo</strong>
                <% else %>
                  <a href="<%=solution.share%>">SHARE Demo</a>
                <% end %>
              </td>
              <td>
                <%=solution.opponents.first%><br/>
                <%=solution.opponents.last%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
        
      <h3>Awards</h3>
          The <a href="https://docs.google.com/spreadsheets/d/1BrNQcmBs2cVWJbDJ45SMPQnXIT60UfN4gM7ymosFNX4/edit?usp=sharing">live scoring</a> of the 2014 Movie case resulted in the awards shown below.
        </div>
      </div>

      <div class="row">
        <div class="col-md-12"> 
          <h4>Overall Winner</h4>
        </div>
  
        <div class="col-md-3">
            <a href="images/awards/movie/sdmlib_overall.jpg" class="thumbnail">
              <img src="images/awards/movie/sdmlib_overall.jpg">
            </a>
            <div class="caption">
              <h6>1st: SDMLib</h6>
            </div>
        </div>
  
        <div class="col-md-3">
            <a href="images/awards/movie/placeholder.jpg" class="thumbnail">
              <img src="images/awards/movie/placeholder.jpg">
            </a>
            <div class="caption">
              <h6>2nd: GrGen.NET</h6>
            </div>
        </div>
  
        <div class="col-md-3">
            <a href="images/awards/movie/uml_rsds_overall.jpg" class="thumbnail">
              <img src="images/awards/movie/uml_rsds_overall.jpg">
            </a>
            <a href="images/awards/movie/funnyqt_overall.jpg" class="thumbnail">
              <img src="images/awards/movie/funnyqt_overall.jpg">
            </a>
            <div class="caption">
              <h6>3rd: UML-RSDS / FunnyQT / Rascal</h6>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12"> 
          <h4>Categories</h4>
        </div>
  
        <div class="col-md-3">
            <a href="images/awards/movie/emotions_ease_of_use.jpg" class="thumbnail">
              <img src="images/awards/movie/emotions_ease_of_use.jpg">
            </a>
            <div class="caption">
              <h6>Easiest to Use: e-Motions</h6>
            </div>
        </div>
  
        <div class="col-md-3">
            <a href="images/awards/movie/sdmlib_performance.jpg" class="thumbnail">
              <img src="images/awards/movie/sdmlib_performance.jpg">
            </a>
            <div class="caption">
              <h6>Most Performant: SDMLib</h6>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>