<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h3>Solutions to the Quality-based Software Selection and Hardware-Mapping</h3>
      <% solutions = data.solutions_qualityBased  %>

      Case resources:
      <ul>
        <li><a href="https://git-st.inf.tu-dresden.de/stgroup/ttc18">Description and case resources</a> (Github repository)</li>
        <li><a href="TTC18_paper_1.pdf">Case presentation</a> (<a href="slides-qualityBased-case.pdf">slides</a>)</li>
        <li><a href="https://git-st.inf.tu-dresden.de/stgroup/ttc18/issues">Discussion of solutions and open peer reviews</a> (issue tracker)</li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc9UZ99-H7b1znZ5LFnKzFSauwEVGOMumxqlsN3UxVsAMUIdQ/viewform">Audience evaluation</a> (Google form)</li>
      </ul>

      <p>The following <%=solutions.size%> solutions were submitted:</p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <!-- <th>
                 Presentation<br/>
                 </th> -->
            <th>Tool</th>
            <th>Authors</th>
            <th>Artefacts</th>
            <th>Opponents</th>
          </tr>
        </thead>
        <tbody>
          <% solutions.each_with_index do |solution, index| %>
          <tr>
            <!-- <td>
                 </td> -->
            <td><strong><%=solution.tool%></strong></td>
            <td><%=solution.authors%></td>
            <td>
              <a href="TTC18_paper_<%=solution.pdf%>.pdf">PDF Description</a> <br/>
              <% if solution.slides.empty? %>
                  <strong>No slides</strong>
              <% else %>
                  <a href="<%=solution.slides%>">Slides</a>
              <% end %>
              <br/>
              <% if solution.share.empty? %>
                  <% if solution.docker.empty? %>
                      <strong>No SHARE or Docker demo</strong>
                  <% else %>
                      <a href="<%=solution.docker%>">Docker Demo</a>
                  <% end %>
              <% else %>
              <a href="<%=solution.share%>">SHARE Demo</a>
              <% end %>
              <br/>
              <% if solution.scm.empty? %>
              <strong>No SCM</strong>
              <% else %>
              <a href="<%=solution.scm%>">SCM</a>
              <% end %>
            </td>
            <td>
              <%=solution.opponents.map { |index| solutions[index].authors }.join("<br/>")%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="row">
          <div class="col-md-12">
              <h3>Awards</h3>
              <p>The solutions were scored at the contest, resulting in the following awards:</p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4">
              <a href="#" class="thumbnail">
                  <img src="images/raven_logo.png" style="height: 195px"/>
              </a>
              <div class="caption">
                  <h6>Audience Award: Ant Colony Optimization</h6>
              </div>
          </div>

          <div class="col-md-4">
              <a href="#" class="thumbnail">
                  <img src="images/raven_logo.png" style="height: 195px"/>
              </a>
              <div class="caption">
                  <h6>Most Scalable: Ant Colony Optimization</h6>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>
